# Archivo (Git -Ignore)
# Revisa el repositorio de gitignore de GitHub oficial

*.sln
*.css

# *.css => Para ignorar por extensiones de archivos
# [Bb]in/ => Para ignorar por direcciones de carptea

# Ignore .venv for python environment
.venv